<div class="message-container">
  <div class="message-wrapper">
    <h2>You {{outcome}}!</h2>
    <p>Do you want to play again?</p>
    <div class="buttons">
      <button {{action "reset"}}>YES</button>
      <button {{action "quit"}}>NO</button>
    </div>
  </div>
</div>